#guiWrap {
    margin-top:10px;
}

.facet {
    float: left;
    
}

.facet:nth-child(odd) {
    background-color: #EFF3F3;
}

html {
    overflow-y: scroll; /* forces vertical scrollbar which is needed for proper width calculations such as for facets */
}

text.nv-axislabel {
    font-weight: bold;
}

.muted {
    text-decoration: none;
    color: gray;
}

span.muted {
    font-weight: 300;
    margin-left: 5px;
}

.noUi-horizontal {
    margin: 7px 16px 7px 16px;
}

.form-group {
    margin-top: 10px;
}

