mark {
    color: #a58d2d;
}

#gui {
    margin-top:10px;
}

.facet {
    float: left;
}

.facet.fill {
    background-color: #EFF3F3;
}

#canvas {
    margin-bottom:10px;
}

html {
    overflow-y: scroll; /* forces vertical scrollbar which is needed for proper width calculations such as for facets */
}

text.nv-axislabel {
    font-weight: bold;
}

.muted {
    text-decoration: none;
    color: gray;
}

span.muted {
    font-weight: 300;
    margin-left: 5px;
}

.noUi-horizontal {
    margin: 7px 16px 7px 16px;
}

.form-group, .note {
    margin-top: 10px;
}

html, body, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

/* Plot specific */
g.nv-distroplot {
    stroke-width: 1.5;
}

.nv-distroplot-observation circle {
    opacity: 0.7;
    stroke-width: 1;
}

.nv-distroplot-outlier circle {
    fill-opacity: 1;
    opacity: 0.9;
    stroke: #5C5C5C !important;
    fill: #5C5C5C !important;
}

button.pull-right {
    margin-left: 10px;
}

line.hover {
    stroke-width:4;
}

circle.hover {
    stroke-width: 8;
    opacity: 1;
}

.nv-x .nv-axis g text.nv-axislabel {
    font-size: 2vmin;
}
.nv-y .nv-axis g text.nv-axislabel {
    font-size: 2hmin;
}

.cell-hover rect {
    stroke-width: 3;
    fill-opacity: 0.2;
}

.cell-hover text {
    fill: #000 !important;
}

.no-hover {
    fill-opacity: 0.2;
}

.gridLines {
    stroke: rgb(155,155,155);
}
