[submodule "distroplot"]
	path = distroplot
	url = git@github.com:ConstantinoSchillebeeckx/distroplot.git
[submodule "c3"]
	path = c3
	url = https://github.com/c3js/c3.git
[submodule "nvd3"]
	path = nvd3
	url = https://github.com/novus/nvd3.git
[submodule "lib/noUiSlider"]
	path = lib/noUiSlider
	url = https://github.com/leongersen/noUiSlider.git
[submodule "lib/bootstrap-toggle"]
	path = lib/bootstrap-toggle
	url = https://github.com/minhur/bootstrap-toggle.git
[submodule "lib/nvd3"]
	path = lib/nvd3
	url = git@github.com:ConstantinoSchillebeeckx/nvd3.git
[submodule "lib/PapaParse"]
	path = lib/PapaParse
	url = https://github.com/mholt/PapaParse.git
[submodule "lib/bootstrap-select"]
	path = lib/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select.git
[submodule "lib/bootstrap-datetimepicker"]
	path = lib/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker.git
[submodule "lib/moment"]
	path = lib/moment
	url = https://github.com/moment/moment.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/fontAwesome"]
	path = lib/fontAwesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/boostrap"]
	path = lib/boostrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/d3"]
	path = lib/d3
	url = https://github.com/d3/d3.git
[submodule "lib/d3-beeswarm"]
	path = lib/d3-beeswarm
	url = https://github.com/Kcnarf/d3-beeswarm.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/FileSaver.js"]
	path = lib/FileSaver.js
	url = https://github.com/eligrey/FileSaver.js.git
	branch = master
